# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyo
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/

# Git
.git/
.github/

# OS
.DS_Store

# Cache
.cache/
tmp/

# Logs
*.log

# Large data files
Dataset/
raw_data/
data/
Standardization/
test_samples/
